.panel-header {
  padding: 20px;
  padding-bottom: 24px;
  margin-bottom: 10px;
  border-radius: 0px 0px 20px 20px;
  background: var(--orange-gradient);

  @media (max-width: 576px) {
    padding: 4px 16px;
    padding-bottom: 24px;
  }

  &__top-container {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
  }

  &__before {
    position: absolute;
    left: 0;
  }

  &__keys {
    display: flex;
    align-items: center;

    width: 70px;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 28px;

    background: #FFF;
  }

  &__bottom-container {
    width: 100%;
    padding-inline: 13%;
    box-sizing: border-box;

    @media (max-width: 576px) {
      padding-inline: 0;
    }
  }
}

.keys {
  &__icon-block {
    width: 28px;
    height: 28px;
    padding: 4px;
    border-radius: 50%;
    box-sizing: border-box;

    background: var(--orange-gradient);
  }

  &__icon {
    rotate: 90deg;
  }

  &__text-block {
    width: 100%;
  }
}