// Глобальные стили
* {
  margin: 0;
  padding: 0;

  // font-family: var(--vkui--font_title1--font_family--regular);
}

:root {
  --white: #FFF;
  --black: #1E1E1E;
  --white-gradient: linear-gradient(180deg, #F0F4F7 25.5%, rgba(240, 244, 247, 0.00) 111.5%);
  --orange-gradient: linear-gradient(271deg, #FF8562 8.51%, #D0C018 100.32%);
}

*:not(input):not(textarea),
::after,
::before {
  user-select: none;
  -webkit-user-select: none;
}

button {
  cursor: pointer;
}

// Переопределения VKUI
// .vkuiPanelHeader .vkuiSeparator {
//   opacity: 0;
// }

.vkuiButton--mode-primary {
  background: var(--orange-gradient);

  &[disabled] {
    background: #F2F4F5;
    color: #000;
    opacity: 0.5!important;
  }

  // &.vkuiButton--appearance-accent {
  //   background: var(--orange);

  //   &.vkuiButton--active {
  //     background: var(--orange-dark);
  //   }
  // }
}

// .vkuiButton.vkuiButton--mode-secondary.vkuiButton--appearance-accent {
//   color: var(--orange)
// }